* {
    margin: 0;
    padding: 0;
}

body {
    background: url(images/page-bg.jpg) top center no-repeat #292929;
    font-family: Georgia, serif;
    font-size: 62.5%;
}

h6 {
    font-size: 1.4em;
    margin-bottom: 15px;
}

a {
    color: white;
}

label, li {
    color: #e3f1fa;
    display: block;
    font-size: 1.4em;
    padding: 5px;
}

fieldset {
    border: 1px solid white;
    display: block; /* IE 7 Requires This */
    margin: 115px auto;
    padding: 8px 15px 15px 15px;
    width: 400px;
}

legend {
    border: 0px solid transparent;
    color: #e3f1fa;
    font-size: 2.0em;
    font-style: italic;
    padding: 4px 6px 4px 6px;
}

ul {
    list-style: none;
    margin-bottom: 15px;
}

.results-bar {
    background: url(images/result-bar-bg.png) left center;
    color: white;
    padding: 10px;
    white-space: nowrap;
}

.vote-items {
    padding-top: 7px;
}

.persian-text {
    font-family: BCompset;
    font-size: 17px;
}

.persian-legend {
    width: auto;
    font-size: 24px;
    font-family: BLotus;
}

.persian-btn {
    font-family: BDavat;
    font-size: 18px;
}


span.total-votes {
    direction: rtl;
    font-family: BDavat;
    font-size: 2.6em;
}

.vote_stat{
    color: #ffffff;
    font-family: BDavat;
    font-size: 22px;
}
